body {
    margin: 0;
    padding: 0;
    height: 100vh;
}
h1 {
    margin: 0 auto;
    width: 40%;
    text-align: center;
    font-size: 19vh;
}
.container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    width: 80%;
    height: 100vh;
    margin: 0 auto;
}
svg {
    position: absolute;
    height: 0   ;
}
.overlay {
    position: absolute;
    top: 0;
}
img {
    width: 100%;
    margin: auto;
    filter: url(#noise);
}